.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.body {
  display: flex;
  height: 93vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/qmark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.form_outer{
  display: flex;
  flex-direction: column;
  width:40vw;
  height:90%;
}
h1{
  color:white
}
.form_header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  background-color: red;
}
.form_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-top: 2%;
  overflow: scroll;
  background-color: white
}
.title {
  background-color: #ea2027;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dialog {
  background-color: #ffffff;
}

.outer {
  height: 300px;
  width: 550px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.leftOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.rightOuter {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
